#root, .bp6-dark {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#main-page {
  display: flex;
  flex: 1; /* Fill all vertical space */
  height: 100%;
  width: 100%;
}

#left-column {
  flex: 0 0 15%; /* fixed width portion */
  overflow-y: auto;
  height: 100%;
}

#content {
  flex: 1; /* remaining space */
  overflow-y: auto;
  height: 100%;
  width: 100%;
}