#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* height: 100vh; */
}

#main-page {
  display: flex;
  height: 95vh;
  /* width: 100vw; */
}

#left-column {
  flex: 0 0 15%;
  overflow-y: auto;
  height: 100%;
}

#content {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

